<h1 class="lesson-title">
    Angular lesson 2 Directives.
</h1>

<nav>
    <h3>01_Forms</h3>

    <h4>01_Inputs</h4>
    <a routerLink="/01_events" routerLinkActive="active">01_events</a>
    <a routerLink="/02_events_object" routerLinkActive="active">02_events_object</a>
    <a routerLink="/03_template_ref" routerLinkActive="active">03_template_ref</a>
    <a routerLink="/04_key_enter" routerLinkActive="active">04_key_enter</a>
    <a routerLink="/05_blur" routerLinkActive="active">05_blur</a>
    <a routerLink="/06_mylist" routerLinkActive="active">06_mylist</a>

    <h4>02_Forms</h4>

    <h4>03_ReactiveForms</h4>


</nav>

<div id="sample-panel" class="theme-green">
    <router-outlet></router-outlet>
</div>
