<h1 class="lesson-title">
    Angular lesson 2 Directives.
</h1>

<nav>
    <h3>HTTP</h3>

    <a routerLink="/01_get-request" routerLinkActive="active">01_get-request</a>
    <a routerLink="/02_post-request" routerLinkActive="active">02_post-request</a>
    <a routerLink="/03_request-options" routerLinkActive="active">03_request-options</a>
    <a routerLink="/04_query-string" routerLinkActive="active">04_query-string</a>


</nav>

<div id="sample-panel" class="theme-green">
    <router-outlet></router-outlet>
</div>
